*{
    margin: 0;
    padding: 0;
}
#image{
    background-image:url(./images/image-qr-code.png);
    background-repeat: no-repeat;
    background-size: 270px ;
    height:70% ;
    padding: 0px 20px;

}

#form_container{
    box-shadow: 0 4px 4px rgba(0,0,0,0.1),0 8px 16px rgba(0,0,0,0.1);
    justify-content: center;
    border-color: black;
    background: white;
    border-radius: 20px;  
    max-width: 270px;
    margin-top: 6%;
    height: 450px;
    margin-left: 40%;
    padding: 20px;
}
#bold{
    font-size: 125%;
}

#shift{
    padding: 0px 25px;
}

#move{
    font-size: 14.5px;
}

#btn{
    padding: 0px 65px;
}