*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0,100%,74%);
}

#left{
    float: left;
    padding-top: 180px;
    padding-left: 15%;
    font-size: 100%;
}


#right{
    float: right;
    padding-top: 90px;
    padding-right: 50px ;
    

}

#topic{
    background-color: rgb(54, 54,189);
    padding: 10px 90px;
    color: #fff;
}

#container{
    box-shadow: 0 4px 4px rgba(0,0,0,0.1),0 8px 16px rgba(0,0,0,0.1);
    /* justify-content: center; */
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    width: 120%;
    margin-right: 5rem;
    height: 300px; ;
}

input,style{
    padding: 10px ;
    width: 90%;
}

#style{
    background-color: green;
    padding:10px 130px;
    color: #fff;
}

#pan{
    font-size: 90%;
    padding-left: 4%;
    text-decoration: none;
}
a{
    text-decoration: none;
}

#head{
    font-size: 23px;
    color: white;
}

#sub{
    font-size: 60%;
    color: #fff;
}